@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

body {
  font-family: "Noto Sans JP";
  font-size: 1.5rem;
  overflow: auto;

  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: rgb(246, 136, 249);
  background: linear-gradient(135deg, rgba(246, 136, 249, 1) 0%, rgba(233, 4, 255, 1) 100%);
  background-attachment: fixed;
  color: white;
}